/* Add background img. and style it */
body{
    background-color: #638a79;
    background-image: url("img/body-bg.png");
    background-repeat: repeat-x;
    background-position: fixed;
    font-size: 13px;
    font-family: Arial, sans-serif;
    line-height: 18px;
    color: #333;
}
/* The Main block of content with the oder blocks */
.content {
	width: 840px;
	border: 20px 30px 20px 30px;
	background-color: #fff;
	margin: auto;
	margin-top: 100px;
}
/* The top block part of page. */
.content .content-top {
	height: 12px;
	background-image: url("img/content-bg.png");
	background-position: 0px 0px;
}
/* The bottom block part of page */
.content .content-bottom {
	height: 12px;
	background-image: url("img/content-bg.png");
	background-position: 0px 840px;
	transform: rotate(-180deg);
}
/* The inside block with page content */
.content .content-middle {
	padding: 20px 30px 20px 30px;
}
/* Hedears of page */
h1 {
	font-size: 26px;
	line-height: 36px;
	color: #2b8c57;
	font-weight: normal;
	margin-bottom: 15px;
}
h2 {
	font-size: 18px;
	line-height: 28px;
	color: #2b8c57;
	font-weight: normal;
	font-style: italic;
	margin-top: 30px;
	margin-bottom: 15px;
}
/* Background of blocks with content */	
div.block-1 {
	font-size: 12px;
	color: #fff;
	font-style: italic;
	padding: 30px 20px 30px 20px;
	background-color: #2b8c57;
	background-image: url(img/block-1.png); 
}
div.block-2 {
	color: #fff;
	font-style: italic;
	font-size: 12px;
	padding: 30px 20px 30px 20px;
	background-color: #356149;
	background-image: url(img/picture-1.png);
	background-repeat: no-repeat;
	background-position: right;
}
/* The button stylization */
a.button {
	background: url(img/button-1.png) 0px 0px;
	display: block;
	width: 121px;
	height: 38px;
	text-decoration: none;

}
a.button:hover {
	background-position: 0 -76px;
}
a.button:active {
	background-position: 0 0px;
}